/* work sans font google font */
  @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&family=Open+Sans:wght@400;800&family=Work+Sans:wght@500&display=swap');
  *{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
  }
  /* header start */
  header{
    background: rgba(255, 144, 14, 0.10);
    padding: 40px 200px;
  }
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-title{
    color:  #131313;
    font-size: 2.8rem;
    font-weight: 700;
  }
  nav>ul{
    display: flex;
  }
  nav li{
    list-style: none;
    margin-left: 30px;
    color: var(--dark-02, #424242);
    font-size: 1.25rem;
    font-weight: 500;
  }
  nav li a{
    text-decoration: none;
  }
  /* banner styles */
  .banner-content{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  .banner-title{
    color: #131313;
    font-size: 64px;
    font-weight: 700;
  }
  .banner-description{
    color: #727272;
    font-size: 16px;
    font-weight: 400;
  }
  .btn-praimary{
    border-radius: 8px;
    background: #FF900E;
    margin-top: 20px;
    border: 0;
    cursor:pointer;
    padding: 20px 24px;
  }
  .banner img{
    margin-top: 20px;
    width: 100%;
  }
  /* features section work */
  main{
    max-width: 1440px;
    margin: 70px auto;
  }
  .team-work{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
  }
  .team-img{
       display: grid;
       grid-template-columns: repeat(2,1fr);
       gap:1.5rem;
  }
  .team-content{
    padding-left: 70px;
    padding-right: 70px;
  }
  .team-content-description{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
  }
  .Quick-list{
    color: #727272;
    font-size: 2.9rem;
    font-weight: 500;
  }
  .of-Our{
    color:  #131313;
    font-size: 2.9rem;
    font-weight: 700;
  }
  .Features{
    color: #FF900E;
    font-size: 2.9rem;
    font-weight: 700;
  }
  /* feature section */
  /* facts section */
  .facts-title{
    color: #131313;
    font-size: 2.5rem;
    font-weight: 700;
  }
  .facts-description{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
  }
  .features-card-container{
    display:flex;
    justify-content: space-around;
    text-align: center;
    padding: ;
  }
  .features-card-container .card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    padding: 30px;
  }
  .card-stats{
    color: #424242;
    font-size:2.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .card-title{
    color: #727272;
    font-size: 20px;
    font-weight: 600;
    margin-top: 5px;
  }
  /* media quary */
  /* small or mobile device */
  @media screen and (max-width:576px){
    .nav-title,
    .team-work,
    .features-card-container
    {
        flex-direction: column;
        padding: 0 auto;
    }
    header{
        padding: 10px;
    }
    nav li{
        margin-left: 10px;
        margin-right:10px;
    }
    .team-img{
      grid-template-columns: 1fr;
    }
    .features-card-container .card{
      padding: 10px 10px;
    }
  }
  /* medium device */
  @media screen and (min-width:576px) and (max-width:960px){
    header{
        padding: 50px;
    }
    nav,.team-work{
        flex-direction: column;
    }
  }